# Copyright 2026 Infineon Technologies AG
# SPDX-License-Identifier: Apache-2.0

config BOARD_KIT_A2G_TC3X6_TRB
	bool "Infineon TC3x6 TriBoard"
	select SOC_TC366DP

config TRICORE_CORE_ID
	int
	default 0 if BOARD_KIT_A2G_TC3X6_TRB_TC366DP_CPU0
	default 1 if BOARD_KIT_A2G_TC3X6_TRB_TC366DP_CPU1