# Copyright 2024 Infineon Technologies AG
# SPDX-License-Identifier: Apache-2.0

config BOARD_KIT_TC4X7_COM_TRB_TC4D7XP
	bool
	default y if BOARD_KIT_TC4X7_COM_TRB_TC4D7XP_CPU0
	default y if BOARD_KIT_TC4X7_COM_TRB_TC4D7XP_CPU1
	default y if BOARD_KIT_TC4X7_COM_TRB_TC4D7XP_CPU2
	default y if BOARD_KIT_TC4X7_COM_TRB_TC4D7XP_CPU3
	default y if BOARD_KIT_TC4X7_COM_TRB_TC4D7XP_CPU4
	default y if BOARD_KIT_TC4X7_COM_TRB_TC4D7XP_CPU5
	default y if BOARD_KIT_TC4X7_COM_TRB_TC4D7XP_CPUCS

config BOARD_KIT_TC4X7_COM_TRB
	bool "Infineon TC4X7 COM TriBoard"
	select SOC_TC4D7XP if BOARD_KIT_TC4X7_COM_TRB_TC4D7XP

config TRICORE_CORE_ID
	int
	default 0 if BOARD_KIT_TC4X7_COM_TRB_TC4D7XP_CPU0
	default 1 if BOARD_KIT_TC4X7_COM_TRB_TC4D7XP_CPU1
	default 2 if BOARD_KIT_TC4X7_COM_TRB_TC4D7XP_CPU2
	default 3 if BOARD_KIT_TC4X7_COM_TRB_TC4D7XP_CPU3
	default 4 if BOARD_KIT_TC4X7_COM_TRB_TC4D7XP_CPU4
	default 5 if BOARD_KIT_TC4X7_COM_TRB_TC4D7XP_CPU5
	default 6 if BOARD_KIT_TC4X7_COM_TRB_TC4D7XP_CPUCS