# Copyright 2024 Infineon Technologies AG
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_TC4X

config NUM_IRQS
    default 2048

config AURIX_NEXT_CORE_ID
	int "Index of the next core to start (0 = none)"
	range 0 5
	default 0

config AURIX_NEXT_CORE_START_ADDRESS
	default 0x80400000 if (AURIX_NEXT_CORE_ID=1)
	default 0x80800000 if (AURIX_NEXT_CORE_ID=2)
	default 0x80A00000 if (AURIX_NEXT_CORE_ID=3)
	default 0x80E00000 if (AURIX_NEXT_CORE_ID=4)
	default 0x81200000 if (AURIX_NEXT_CORE_ID=5)
	default 0

config ETH_QOS_SHARED_DMA
	default y

config ETH_XGMAC_SHARED_DMA
	default y

config TRICORE_MPU_CODE_REGIONS
	default 16

config TRICORE_MPU_DATA_REGIONS
	default 24

config TRICORE_MPU_PROTECTION_SETS
	default 8
endif
