/*
 * Copyright (c) 2024 Infineon Technologies AG
 *
 * SPDX-License-Identifier: Apache-2.0
 */
#include "kit_a2g_tc397xa_3v3_tft-pinctrl.dtsi"
#include <zephyr/dt-bindings/i2c/i2c.h>

/ {
	leds: leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&p33 1 GPIO_ACTIVE_LOW>;
		};
		led1: led_1 {
			gpios = <&p33 2 GPIO_ACTIVE_LOW>;
		};
		led2: led_2 {
			gpios = <&p33 3 GPIO_ACTIVE_LOW>;
		};
		led3: led_3 {
			gpios = <&p33 4 GPIO_ACTIVE_LOW>;
		};
	};

	aliases {
		led0 = &led0;
		led1 = &led1;
		led2 = &led2;
		led3 = &led3;
	};

	/* On-board TLE9251VSJ on M_CAN node 2 (P10.2/P10.3). No software
	 * enable/standby line, so no can-transceiver-gpio node is needed.
	 */
};

&fosc {
	clock-frequency = <DT_FREQ_M(20)>;
	status = "okay";
};

&p33 {
	status = "okay";
};

/* P10.2/P10.3 carry CAN module 0 node 2 (the on-board TLE9251VSJ
 * transceiver, IDC10 connector X202).  The port itself must be brought
 * out of reset for the alt-function pins to drive.
 */
&p10 {
	status = "okay";
};

&asclin0 {
	compatible = "infineon,asclin-uart";
	pinctrl-0 = <&uart0_default>;
	pinctrl-names = "default";
};

&eth0 {
	pinctrl-0 = <&eth0_rgmii_default>;
	pinctrl-names = "default";
	phy-connection-type = "rgmii";
	phy-handle = <&phy>;
};

&mdio0 {
	pinctrl-0 = <&eth0_mdio_default>;
	pinctrl-names = "default";

	phy: ethernet-phy@1 {
		compatible = "ethernet-phy";
		reg = <1>;
	};
};

&i2c0 {
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST>;

	/* MCP79411 EUI-48 EEPROM (0x57); RTCC at 0x6F (no Zephyr driver) */
	eeprom: eeprom@57 {
		compatible = "microchip,mcp79411", "atmel,at24";
		reg = <0x57>;
		size = <256>;
		pagesize = <8>;
		address-width = <8>;
		timeout = <5>;
	};
};

/* CAN module 0 node 2 - default board config */
&mcmcan0 {
	status = "okay";
};

&can02 {
	bitrate = <500000>;
	bitrate-data = <2000000>;
	pinctrl-0 = <&can0_default>;
	pinctrl-names = "default";
	status = "okay";
};
