/* Single-core GPSR loopback overlay for the TC4D7 Lite kit. */

&gpsr0 {
	status = "okay";
	rx-channels = <0>;
};

/ {
	mbox_consumer: mbox-consumer {
		compatible = "vnd,mbox-consumer";
		mboxes = <&gpsr0 0>, <&gpsr0 0>;
		mbox-names = "tx", "rx";
	};
};
