# Copyright 2024 Infineon Technologies AG
# SPDX-License-Identifier: Apache-2.0

config BOARD_KIT_A2G_TC3X7_TRB
	bool "Infineon TC3x7 TriBoard"
	select SOC_TC397XA

config TRICORE_CORE_ID
	int
	default 0 if BOARD_KIT_A2G_TC3X7_TRB_TC397XA_CPU0
	default 1 if BOARD_KIT_A2G_TC3X7_TRB_TC397XA_CPU1
	default 2 if BOARD_KIT_A2G_TC3X7_TRB_TC397XA_CPU2
	default 3 if BOARD_KIT_A2G_TC3X7_TRB_TC397XA_CPU3
	default 4 if BOARD_KIT_A2G_TC3X7_TRB_TC397XA_CPU4
	default 5 if BOARD_KIT_A2G_TC3X7_TRB_TC397XA_CPU5